h1 {
  text-align: center;
  font-size: 2.25rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: rgba(31, 41, 55, 0.8);
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: rgba(31, 41, 55, 0.8);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.categories-grid > h2 {
  margin: 0 6px 0 6px;
  margin-bottom: 0;
  font-size: 22px;
  color: #4a4a4a;
}

.categories-grid > p {
  font-weight: lighter;
  font-size: 16px;
}

.categories-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'hats hats jackets jackets sneakers sneakers' 'womens womens womens mens mens mens';
  gap: 10px;
  z-index: 100;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
}

.categories-grid > .category-item {
  z-index: 100;
  height: 300px;
  border: 2px solid black;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(10px) opacity(0.7);
}

.categories-grid > .category-item:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem rgba(122, 122, 122, 0.5));
}

.categories-grid > .categories-hats {
  grid-area: hats;
}

.categories-grid > .categories-jackets {
  grid-area: jackets;
}

.categories-grid > .categories-sneakers {
  grid-area: sneakers;
}

.categories-grid > .categories-womens {
  grid-area: womens;
}

.categories-grid > .categories-mens {
  grid-area: mens;
}

.category-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
  width: 150px;
  height: 120px;
  background-color: white;
  opacity: 0.8;
}
